<div class="br-logo"><a href="javascript:void(0)"><img width="100%" src="../../../assets/images/golomt-logo.png"></a></div>
    <div class="br-sideleft overflow-y-auto">
      <label class="sidebar-label pd-x-10 mg-t-20 op-3">Цэс</label>
      <ul class="br-sideleft-menu">
        <li class="br-menu-item">
          <a routerLink="/user/dashboard" class="br-menu-link"  routerLinkActive="active">
            <i class="fas fa-home "></i>
            <span class="menu-item-label"> Эхлэл</span>
          </a><!-- br-menu-link -->
        </li><!-- br-menu-item -->
        <li class="br-menu-item">
          <a routerLink="/user/category" class="br-menu-link"  routerLinkActive="active">
            <i class="fas fa-clipboard-list "></i>
            <span class="menu-item-label"> Ангилал</span>
          </a><!-- br-menu-link -->
        </li><!-- br-menu-item -->
       
        <li class="br-menu-item">
          <a routerLink="/user/budget" class="br-menu-link"  routerLinkActive="active">
            <i class="fas fa-money-bill"></i>
            <span class="menu-item-label"> Төсөв</span>
          </a><!-- br-menu-link -->
        </li><!-- br-menu-item -->
        <li class="br-menu-item">
          <a routerLink="/user/transaction" class="br-menu-link"  routerLinkActive="active">
            <i class="fas fa-credit-card "></i>
            <span class="menu-item-label"> Гүйлгээ</span>
          </a><!-- br-menu-link -->
        </li><!-- br-menu-item -->
  
      </ul><!-- br-sideleft-menu -->
      <br>
    </div><!-- br-sideleft -->
    <!-- ########## END: LEFT PANEL ########## -->

    <!-- ########## START: HEAD PANEL ########## -->
    <div class="br-header">
        <div class="br-header-left">
          
            <div class="navicon-left hidden-md-down"><a id="btnLeftMenu" href="javascript:void(0);"><i class="fas fa-bars"></i></a></div>
            <div class="navicon-left hidden-lg-up"><a id="btnLeftMenuMobile" href="javascript:void(0);"><i class="fas fa-bars"></i></a></div>
            
          </div>
      <div class="br-header-right">
        <nav class="nav">
          <div class="dropdown">
            <a (click)="logout()" class="nav-link nav-link-profile" >
              <span class="logged-name hidden-md-down">Хэрэглэгчийн нэр : {{ currentUser?.username }}</span>
              <span class="square-10 bg-success"></span>
            </a>
          </div><!-- dropdown -->
        </nav>
        
      </div><!-- br-header-right -->
    </div><!-- br-header -->
    <!-- ########## END: HEAD PANEL ########## -->

    <!-- ########## START: RIGHT PANEL ########## -->
  
<!-- ########## START: MAIN PANEL ########## -->
<div class="br-mainpanel" style="position: relative;">
    <router-outlet>

    </router-outlet>
</div>