<div class="spin-wrapper loading-custom-spinner" [style.display]="loading ? 'block': 'none'">
  <div class="spinner">
  </div>
</div>
<div class="br-pagetitle">
  <i class="fas fa-clipboard-list fa-4x"></i>
  <div>
    <h4>Ангилал</h4>
    <p class="mg-b-0">Төсөв , гүйлгээний ангилалууд.</p>
  </div>
</div>
<div class="br-pagebody">
  <div class="row row-sm mg-t-20">
    <div class="col-lg-12">
      <div class="card shadow-base bd-0">
        <div class="card-header bg-transparent pd-20">
          <h6 class="card-title tx-uppercase tx-12 mg-b-0">Ангилалын жагсаалт</h6>
          <button class="btn btn-primary btn-with-icon btn-block mg-t-10 wd-200 mg-r-10" data-toggle="modal"
            data-target="#addCategoryModal">
            <div class="ht-40">
              <span class="icon wd-40"><i class="fas fa-plus-circle"></i></span>
              <span class="pd-x-15">Ангилал нэмэх</span>
            </div>
          </button>
        </div><!-- card-header -->
        <table class="table table-responsive mg-b-0 tx-12" id="categories">
          <thead style="width:100%;">
            <tr class="tx-10">
              <th class="wd-10p pd-y-5">Д/д</th>
              <th class="pd-y-5">Нэр</th>
              <th class="pd-y-5">Төрөл</th>
              <th class="pd-y-5">Үйлдэл</th>
            </tr>
          </thead>
          <tbody style="width:100%;">
            <ng-container *ngFor="let category of parents; let i = index;">
              <tr class="parent_category" [attr.data-parent]="'#accordion'+category.id"
                [attr.href]="'#collapse'+category.id" aria-expanded="true"
                [attr.aria-controls]="'collapse'+category.id">
                <td class="pd-l-20">
                  {{ i + 1 }}
                </td>
                <td>
                  <a href="javascript:void(0)"
                    class="tx-inverse tx-14 tx-medium d-block">{{ category.name | translate}}</a>
                  <span class="tx-11 d-block tx-info">Үндсэн ангилал</span>
                </td>
                <td class="tx-12" [ngSwitch]="category.part">
                  <span *ngSwitchCase="'D'"><span class="square-8 bg-danger mg-r-5 rounded-circle"></span>
                    Зарлага</span>
                  <span *ngSwitchCase="'C'"><span class="square-8 bg-success mg-r-5 rounded-circle"></span>
                    Орлого</span>
                  <span *ngSwitchCase="'T'"><span class="square-8 bg-info mg-r-5 rounded-circle"></span>
                    Шилжүүлэг</span>
                </td>
                <td class="tx-12">
                  <a data-toggle="collapse" [attr.data-parent]="'#accordion'+category.id"
                    [href]="'#collapse' + category.id" aria-expanded="false"
                    [attr.aria-controls]="'collapse'+category.id" class="tx-gray-800 transition"
                    [attr.disabled]="category.children.length == 0"> <i class="fas fa-eye"> </i>
                    {{category.children.length}} дэд ангилал
                  </a>
                </td>
                <td>
                  <div class="dropdown">
                    <a href="javascript:void(0);" data-toggle="dropdown"
                      class="btn btn-dark btn-icon rounded-circle mg-r-5 mg-b-10"
                      [ngClass]="{'disabled' : category.translate}">
                      <div><i class="fa fa-cog"></i></div>
                    </a>
                    <div class="dropdown-menu pd-10 wd-200">
                      <nav class="nav nav-style-2 flex-column">
                        <a href="javascript:void(0);" class="nav-link" data-toggle="modal"
                          data-target="#editCategoryModal" (click)="selectCategory(category)"><i
                            class="fas fa-edit"></i>
                          Засах</a>
                        <a href="javascript:void(0);" (click)="deleteCategory(category)" class="nav-link"><i
                            class="fas fa-trash"></i> Устгах</a>
                      </nav>
                    </div><!-- dropdown-menu -->
                  </div><!-- dropdown -->
                </td>
              </tr>
              <tr *ngIf="category.children.length > 0" width="100%">
                <td colspan="5" class="sub-cat mg-0 pd-0">
                  <div [attr.id]="'accordion'+category.id" class="accordion" role="tablist" aria-multiselectable="true">
                    <div [attr.id]="'collapse'+category.id" class="collapse" role="tabpanel"
                      aria-labelledby="headingOne" style="">
                      <table width="100%;" class="table table-responsive mg-b-0 tx-12">
                        <tbody>
                          <ng-container *ngFor="let child of category?.children;let k = index">
                            <tr class="mg-0 pd-0 bg-gray-200 sub-category" [attr.data-parent]="category.id">
                              <td>{{i + 1}} . {{k + 1 }}</td>
                              <td>
                                <a href="javascript:void(0)"
                                  class="tx-inverse tx-14 tx-medium d-block">{{ child.name | translate }}</a>
                                <span class="tx-11 d-block tx-disabled">Дэд ангилал</span>
                              </td>
                              <td class="tx-12" [ngSwitch]="child.part">
                                <span *ngSwitchCase="'D'"><span class="square-8 bg-danger mg-r-5 rounded-circle"></span>
                                  Зарлага</span>
                                <span *ngSwitchCase="'C'"><span
                                    class="square-8 bg-success mg-r-5 rounded-circle"></span>
                                  Орлого</span>
                                <span *ngSwitchCase="'T'"><span class="square-8 bg-info mg-r-5 rounded-circle"></span>
                                  Шилжүүлэг</span>
                              </td>
                              <td>
                                <div class="dropdown">
                                  <a href="javascript:void(0);" data-toggle="dropdown"
                                    class="btn btn-dark btn-icon rounded-circle mg-r-5 mg-b-10"
                                    [ngClass]="{'disabled' : child.translate}">
                                    <div><i class="fa fa-cog"></i></div>
                                  </a>
                                  <div class="dropdown-menu pd-10 wd-200">
                                    <nav class="nav nav-style-2 flex-column">
                                      <a href="javascript:void(0);" class="nav-link" data-toggle="modal"
                                        data-target="#editCategoryModal" (click)="selectCategory(child)"><i
                                          class="fas fa-edit"></i>
                                        Засах</a>
                                      <a href="javascript:void(0);" (click)="deleteCategory(child)" class="nav-link"><i
                                          class="fas fa-trash"></i> Устгах</a>
                                    </nav>
                                  </div><!-- dropdown-menu -->
                                </div><!-- dropdown -->
                              </td>
                            </tr>
                          </ng-container>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </td>
              </tr>
            </ng-container>
          </tbody>
        </table>
        <div class="card-footer tx-12 pd-y-15 bg-transparent">
          <a routerLink="/user/budget"><i class="fa fa-angle-down mg-r-5"></i>Төсөв үзэх</a>
        </div><!-- card-footer -->
      </div><!-- card -->
    </div>
  </div>
</div>

<div id="editCategoryModal" class="modal fade effect-sign">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content bd-0 tx-14">
      <div class="modal-header pd-x-20">
        <h6 class="tx-14 mg-b-0 tx-uppercase tx-inverse tx-bold">Ангилал засах </h6>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body pd-20">
        <!-- <h3 class="tx-inverse  mg-b-5"> {{selectedCategory?.name}} </h3> -->
        <p>Нэр , төрлийг заавал бөглөнө.</p>
        <br>
        <div class="form-group">
          <input type="text" name="name" [(ngModel)]="selectedCategory.name" class="form-control pd-y-12"
            placeholder="Нэр*">
        </div><!-- form-group -->
        <div class="form-group mg-b-20">
          <label> Төрөл : </label>
          <select class="form-control select2" [(ngModel)]="selectedCategory.part">
            <option value="C">Орлого</option>
            <option value="D">Зарлага</option>
            <option value="T">Шилжүүлэг</option>
          </select>
        </div>
        <div class="form-group mg-b-20">
          <label>
            Толгой Ангилал
          </label>
          <select [(ngModel)]="selectedCategory.parent" class="form-control select2">
            <option value="-1" [selected]="selectedCategory.parent == null">-</option>
            <ng-container *ngFor="let cat of categories;">

              <option *ngIf="cat.parent==null && selectedCategory.part == cat.part && selectedCategory.id != cat.id" [value]="cat.id">
                {{cat?.name | translate}}</option>
            </ng-container>

          </select>
        </div>


      </div>
      <div *ngIf="editCategoryForm.controls.name.invalid && (editCategoryForm.controls.name.dirty || editCategoryForm.controls.name.touched)">
          <div class="alert alert-solid alert-danger" role="alert" *ngIf="editCategoryForm.controls.name.errors.required">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">×</span>
              </button>
              <strong class="d-block d-sm-inline-block-force">Ангилалын нэрийг заавал оруулна уу.</strong>
            </div>
          <div class="alert alert-solid alert-danger" role="alert" *ngIf="editCategoryForm.controls.name.errors.maxlength">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">×</span>
              </button>
              <strong class="d-block d-sm-inline-block-force">Ангилалын нэр 50 тэмдэгтээс дээшгүй урттай байна.</strong>
            </div>
          <div class="alert alert-solid alert-danger" role="alert" *ngIf="editCategoryForm.controls.name.errors.min">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">×</span>
              </button>
              <strong class="d-block d-sm-inline-block-force">Ангилалын нэр 1 тэмдэгтээс дээш урттай байна.</strong>
            </div>
      
    </div>
    <div class="modal-footer justify-content-center">
      <button class="btn btn-primary tx-11 tx-uppercase pd-y-12 pd-x-25 tx-mont tx-medium" (click)="updateCategory()"><i
          class="fas fa-edit"></i>
        Засах</button>
      <button type="button" class="btn btn-danger tx-11 tx-uppercase pd-y-12 pd-x-25 tx-mont tx-medium"
        data-dismiss="modal"> <i class="fas fa-times"></i> Хаах</button>
    </div>
  </div>
</div><!-- modal-dialog -->
</div>
<div id="addCategoryModal" class="modal fade effect-sign">
  <div class="modal-dialog modal-sm wd-400" role="document">
    <div class="modal-content bd-0 tx-14">
      <form [formGroup]="addCategoryForm" (ngSubmit)="onSubmit()">
        <div class="modal-header pd-x-20">
          <h6 class="tx-14 mg-b-0 tx-uppercase tx-inverse tx-bold">Ангилал нэмэх </h6>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body pd-20">
          <!-- <h3 class="tx-inverse  mg-b-5"> {{selectedCategory?.name}} </h3> -->
          <p>Нэр , төрлийг заавал бөглөнө.</p>
          <br>
          <div class="form-group">
            <input type="text" formControlName="name" class="form-control pd-y-12" placeholder="Нэр*">
          </div><!-- form-group -->
          <div class="form-group mg-b-20">
            <label> Төрөл : </label>
            <select class="form-control select2" formControlName="part">
              <option value="C">Орлого</option>
              <option value="D">Зарлага</option>
              <option value="T">Шилжүүлэг</option>
            </select>
          </div>
          <div class="form-group mg-b-20">
            <label>
              Толгой Ангилал
            </label>
            <select formControlName="parent" class="form-control select2">
              <option value="-1" selected="selected">-</option>
              <ng-container *ngFor="let cat of parents;">
                <option *ngIf="addCategoryForm.controls.part.value == cat.part && cat.parent==null" [value]="cat.id">
                  {{cat?.name | translate}}</option>
              </ng-container>

            </select>
          </div>
          <div *ngIf="addCategoryForm.controls.name.invalid && (addCategoryForm.controls.name.dirty || addCategoryForm.controls.name.touched)">
                <div class="alert alert-solid alert-danger" role="alert" *ngIf="addCategoryForm.controls.name.errors.required">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">×</span>
                    </button>
                    <strong class="d-block d-sm-inline-block-force">Ангилалын нэрийг заавал оруулна уу.</strong>
                  </div>
                <div class="alert alert-solid alert-danger" role="alert" *ngIf="addCategoryForm.controls.name.errors.maxlength">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">×</span>
                    </button>
                    <strong class="d-block d-sm-inline-block-force">Ангилалын нэр 50 тэмдэгтээс дээшгүй урттай байна.</strong>
                  </div>
                <div class="alert alert-solid alert-danger" role="alert" *ngIf="addCategoryForm.controls.name.errors.min">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">×</span>
                    </button>
                    <strong class="d-block d-sm-inline-block-force">Ангилалын нэр 1 тэмдэгтээс дээш урттай байна.</strong>
                  </div>
            
          </div>
        </div>
        <div class="modal-footer justify-content-center">
          <button class="btn btn-primary tx-11 tx-uppercase pd-y-12 pd-x-25 tx-mont tx-medium"><i
              class="fas fa-save"></i>
            Нэмэх</button>
          <button type="button" class="btn btn-danger tx-11 tx-uppercase pd-y-12 pd-x-25 tx-mont tx-medium"
            data-dismiss="modal"> <i class="fas fa-times"></i> Хаах</button>
        </div>
      </form>
    </div>
  </div><!-- modal-dialog -->
</div>